.topwnumber{
    display: flex;
    padding-bottom: 10px;
    padding-top: 0 px;
    background: #ee1515;
    color: white;
}

.topwnumbertext{
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.picture-container{
    display: flex;
    justify-content: center;
}


img {
    width: 275px;
    height: auto;
    padding: 20px;
}

.bottomwplay{
    display: flex;
    padding: 5px;
    background: #ee1515;
    color: white;
    padding-bottom: 50px;
}

.bottomwplaytext{
    text-align: center;
    margin: 0 auto;
    font-size: 13px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.wholething{
    display: flex;
    flex-direction: column;
}

.header {
    padding-bottom: 0px;
    padding-top: 5 px;
    text-align: center;
    background: #ee1515;
    color: white;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

.imagebox{
    position: relative;
    width: auto;
}

.overlay {
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
    padding-top: 0%;
    padding-bottom: 25%;
}

.imagebox:hover .overlay {
    opacity: 1;
}
